Test PySpark is the first execution

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [15]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

# df = spark.read \
#     .option("header", "true") \
#     .csv('taxi_zone_lookup.csv')

# df.show()
# df.write.parquet('zones', mode="overwrite" )

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

Homework week5

Question 1

In [10]:
import pyspark
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[*]") \
                    .appName('BigData-ETL.com') \
                    .getOrCreate()

print(f'The PySpark {spark.version} version is running...')

The PySpark 3.5.3 version is running...

25/03/02 14:27:14 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [16]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

spark.version

'3.5.3'

Question 2

In [11]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet

4458.93s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

--2025-03-02 14:29:42--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:2795:f000:b:20a5:b140:21, 2600:9000:2795:600:b:20a5:b140:21, 2600:9000:2795:b600:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:2795:f000:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 64346071 (61M) [binary/octet-stream]
Saving to: ‘yellow_tripdata_2024-10.parquet’

yellow_tripdata_202 100%[===================>]  61,36M  72,6MB/s    in 0,8s

2025-03-02 14:29:43 (72,6 MB/s) - ‘yellow_tripdata_2024-10.parquet’ saved [64346071/64346071]

In [44]:
df = spark.read \
    .option("header", "true") \
    .parquet('yellow_tripdata_2024-10.parquet')


df.schema


# df = df.repartition(24)

# df.write.parquet('data/pq/yellow_tripdata/2024/10/')

StructType([StructField('VendorID', IntegerType(), True), StructField('tpep_pickup_datetime', TimestampNTZType(), True), StructField('tpep_dropoff_datetime', TimestampNTZType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', LongType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('Airport_fee', DoubleType(), True)])

```bash
% ls -l *
-rw-r--r--  1 user  staff        0 Mar  2 14:45 _SUCCESS
-rw-r--r--  1 user  staff  3925811 Mar  2 14:45 part-00000-8c83f3b8-5e89-4fd3-b5da-607f38d15341-c000.snappy.parquet
-rw-r--r--  1 user  staff  3925869 Mar  2 14:45 part-00001-8c83f3b8-5e89-4fd3-b5da-607f38d15341-c000.snappy.parquet
-rw-r--r--  1 user  staff  3925441 Mar  2 14:45 part-00002-8c83f3b8-5e89-4fd3-b5da-607f38d15341-c000.snappy.parquet
-rw-r--r--  1 user  staff  3923879 Mar  2 14:45 part-00003-8c83f3b8-5e89-4fd3-b5da-607f38d15341-c000.snappy.parquet
-rw-r--r--  1 user  staff  3926901 Mar  2 14:45 part-00004-8c83f3b8-5e89-4fd3-b5da-607f38d15341-c000.snappy.parquet
-rw-r--r--  1 user  staff  3925450 Mar  2 14:45 part-00005-8c83f3b8-5e89-4fd3-b5da-607f38d15341-c000.snappy.parquet
-rw-r--r--  1 user  staff  3926899 Mar  2 14:45 part-00006-8c83f3b8-5e89-4fd3-b5da-607f38d15341-c000.snappy.parquet
-rw-r--r--  1 user  staff  3927014 Mar  2 14:45 part-00007-8c83f3b8-5e89-4fd3-b5da-607f38d15341-c000.snappy.parquet
```

Question 3

In [42]:

df.registerTempTable('yellow_tripdata_2024_10')


spark.sql("""
SELECT count(1)
FROM 
    yellow_tripdata_2024_10
          
WHERE
    to_date(tpep_pickup_datetime) = '2024-10-15'
""").show()

+--------+
|count(1)|
+--------+
|  128893|
+--------+

In [32]:
from pyspark.sql import functions as F
df \
    .withColumn('tpep_pickup_datetime', F.to_date(df.tpep_pickup_datetime)) \
    .filter("tpep_pickup_datetime = '2024-10-15'") \
    .count()

128893

In [40]:
spark.conf.set('spark.sql.session.timeZone', 'America/New_York')
spark.sql("""select to_timestamp('2012-11-20T17:39:37Z', "yyyy-MM-dd'T'HH:mm:ssz") as datetime""").show(truncate=False)

+-------------------+
|datetime           |
+-------------------+
|2012-11-20 12:39:37|
+-------------------+

Question 4

In [59]:
df \
    .withColumn('duration', (df.tpep_dropoff_datetime - df.tpep_pickup_datetime).cast('long')/60/60) \
    .withColumn('pickup_date', F.to_date(df.tpep_pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+------------------+
|pickup_date|     max(duration)|
+-----------+------------------+
| 2024-10-16| 162.6177777777778|
| 2024-10-03|           143.325|
| 2024-10-22|137.76055555555556|
| 2024-10-18|114.83472222222221|
| 2024-10-21| 89.89833333333333|
+-----------+------------------+

Question 6

In [60]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

11130.40s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

--2025-03-02 16:20:53--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:2795:600:b:20a5:b140:21, 2600:9000:2795:5a00:b:20a5:b140:21, 2600:9000:2795:1000:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:2795:600:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12,04K  --.-KB/s    in 0s

2025-03-02 16:20:53 (470 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12331/12331]

In [66]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [ ]:
df_zones.columns

df_zones.registerTempTable('zones')

In [80]:
spark.sql("""
SELECT
    pul.Zone,
    COUNT(1)
FROM 
    yellow_tripdata_2024_10 ylw_tax 
LEFT JOIN zones pul ON ylw_tax.PULocationID = pul.LocationID
WHERE    to_date(ylw_tax.tpep_pickup_datetime) between  '2024-10-01' and  '2024-10-31' 
GROUP BY 
    1
ORDER BY
    2 ASC
LIMIT 5;
""").show()

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
|Governor's Island...|       1|
|       Rikers Island|       2|
|       Arden Heights|       2|
|         Jamaica Bay|       3|
| Green-Wood Cemetery|       3|
+--------------------+--------+